{% extends 'base.html.twig' %}

{% block title %}Edit DonsFinanciaire{% endblock %}

{% block body %}
    <h1>Edit DonsFinanciaire</h1>

    {{ include('dons_financiaire/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_dons_financiaire_index') }}">back to list</a>

    {{ include('dons_financiaire/_delete_form.html.twig') }}
{% endblock %}
