 <!-- Sidebar -->

    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
        <div class="sidebar-brand-icon rotate-n-15">
          <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">EpiCulTour </div>
      </a>

      <!-- Divider -->
      <hr class="sidebar-divider my-0">

      <!-- Nav Item - Dashboard -->
      <li class="nav-item active">
        <a class="nav-link" href="index.html">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Dashboard</span></a>
      </li>
      <br>
 <!-- Heading -->
      <div class="sidebar-heading">
        Les Gestions
      </div>
      <!-- Divider -->
      <hr class="sidebar-divider">

     

      <!-- Nav Item - Pages Collapse Menu -->
                                                                    <!-- Gestion utilisateur -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseuser" aria-expanded="true" aria-controls="collapseuser">
     <i class="fas fa-fw fa-users"></i>
          <span>Gestion utilisateur</span>
        </a>
        <div id="collapseuser" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <a class="collapse-item" href="buttons.html">Buttons</a>
            <a class="collapse-item" href="cards.html">Cards</a>
          </div>
        </div>
      </li>
                <!-- Divider -->
      <hr class="sidebar-divider">
              <!-- Gestion event -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseevent" aria-expanded="true" aria-controls="collapseevent">
           <i class="fas fa-fw fa-glass-cheers"></i>
          <span>Gestion évènement</span>
        </a>
        <div id="collapseevent" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <a class="collapse-item" href="buttons.html">Buttons</a>
            <a class="collapse-item" href="cards.html">Cards</a>
          </div>
        </div>
      </li>
                <!-- Divider -->
      <hr class="sidebar-divider">
       <!-- Gestion blog -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseblog" aria-expanded="true" aria-controls="collapseblog">
          <i class="fas fa-fw fa-pencil-alt"></i>
          <span>Gestion blog</span>
        </a>
        <div id="collapseblog" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <a class="collapse-item" href="buttons.html">Buttons</a>
            <a class="collapse-item" href="cards.html">Cards</a>
          </div>
        </div>
      </li>
          <!-- Divider -->
      <hr class="sidebar-divider">
             <!-- Gestion dons -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsedons" aria-expanded="true" aria-controls="collapsedons">
          <i class="fas fa-fw fa-donate"></i>
          <span>Gestion dons</span>
        </a>
        <div id="collapsedons" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <a class="collapse-item" href="{{ path('app_dons_financiaire_index') }}">All Dons</a>
            <a class="collapse-item" href="{{ path('app_dons_financiaire_new') }}">Ajouter Dons</a>
          </div>
        </div>
      </li>
          <!-- Divider -->
      <hr class="sidebar-divider">
                   <!-- Gestion plannings -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseplannings" aria-expanded="true" aria-controls="collapseplannings">
          <i class="fas fa-fw fa-calendar-alt"></i>
          <span>Gestion plannings</span>
        </a>
        <div id="collapseplannings" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <a class="collapse-item" href="buttons.html">Buttons</a>
            <a class="collapse-item" href="cards.html">Cards</a>
          </div>
        </div>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider">

   

    



    </ul>
    <!-- End of Sidebar -->